// ESTILO GENERAL

* {
    background-color:white;
    margin: 0;
    padding: 0;
}

//HERO SECTION
//TITULO PRINCIPAL
.titulo {
    text-align: center;
    font-family: 'Lora', serif;
    color: orange;

}

.tituloResaltado {
    font-family: 'Montserrat Alternates', sans-serif;
}

.tituloResumen {
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 50px;
    margin-bottom: 30px;
    border-top: 2px solid gray;
    padding-top: 20px;
}

// DESCUENTO DEL DIA

.descuentoDelDia {
    border: 2px solid blue;
    //border-radius: 15%;
    margin: 10px 20px 0 0;
}


