// ESTILO GENERAL

* {
    background-color: lightblue;

}

.titulo {
    text-align: center;
    font-family: 'Lora', serif;
    color: orange;
    margin-top: 200px;
}

.tituloResaltado {
    font-family: 'Montserrat Alternates', sans-serif;
}

.instrucciones {
    margin:50px 30%;
}