
.contenedorResumen {
    display: flex;
}

.tablaResumen {
    margin: auto;
}

.colCart {
    width: 40vw;
}

.alignCenter {
    text-align: center;
}

.precioTotal {
    color: slateblue;
    font-weight: 700;
}

.pagoEnCuotas {
    color: darkgreen;
    font-weight: 600;
}